# Node.js
node_modules/
.env
.DS_Store

# Arquivos de sistema
Thumbs.db
*.log

# Configurações locais
config.json

# Builds ou arquivos temporários
dist/
uploads/
*.zip
*.tar.gz

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Sistema operacional
*.swp
*.bak

# Git
.gitignore
